<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Registro de Pokemons </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="center">
  <ion-card>
    <img
      src="https://e7.pngegg.com/pngimages/297/125/png-clipart-guitar-hero-iii-legends-of-rock-guitar-hero-world-tour-guitar-hero-smash-hits-guitar-hero-aerosmith-others-miscellaneous-logo-thumbnail.png"
      width="250"
      height="220"
    />
    <ion-card-header>
      <ion-card-subtitle>Descripción</ion-card-subtitle>
      <ion-card-title>Guitar Hero: Aerosmit</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Guitar Hero: Aerosmith es un videojuego musical desarrollado por Neversoft y distribuido por Activision.
      El caso es que aunque no todos los 41 temas están tocados por la banda, existen varios grupos que se consideran fans de Aerosmith.   </ion-card-content>
    <ion-card-content>
      <ion-label>Año: </ion-label>
      <ion-badge color="danger">2008</ion-badge>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img
      src="https://e7.pngegg.com/pngimages/548/191/png-clipart-guitar-hero-warriors-of-rock-guitar-hero-5-guitar-hero-smash-hits-band-hero-others-thumbnail.png"
      width="250"
      height="220"
    />
    <ion-card-header>
      <ion-card-subtitle>Descripción:</ion-card-subtitle>
      <ion-card-title>Guitar Hero: Warriors of Rock</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Guitar Hero: Warriors of Rock, antes llamado Guitar Hero 6: Warriors of Rock, es la sexta entrega de la serie Guitar Hero.
    </ion-card-content>
    <ion-card-content>
      <ion-label>Año:</ion-label>
      <ion-badge color="danger">2010</ion-badge>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img
      src="https://e7.pngegg.com/pngimages/337/177/png-clipart-guitar-hero-iii-legends-of-rock-guitar-hero-world-tour-wii-playstation-2-metallica-text-logo-thumbnail.png"
      width="250"
      height="220"
    />
    <ion-card-header>
      <ion-card-subtitle>Descripción:</ion-card-subtitle>
      <ion-card-title>Guitar Hero 3: Legends of Rock</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Guitar Hero III: Legends of Rock es un videojuego de música y el tercer título de la serie Guitar Hero.
    </ion-card-content>
    <ion-card-content>
      <ion-label>Año: </ion-label>
      <ion-badge color="danger">2007</ion-badge>
    </ion-card-content>
  </ion-card>

</ion-content>
